
*{box-sizing: border-box;}
body{
    font-family: Montserrat, sans-serif;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{list-style: none;}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.footer-menu{display: none;}
.burger{
    margin-left: 15px;
    background: url(./../icons/burger-menu.svg);
    background-repeat: no-repeat;
    width: 34px;
    height: 29px;
    background-color: white;
}
.logo{
    background: url(./../images/logo1.png);
    background-repeat: no-repeat;
    width: 135px;
    height: 75px;
}
.menu{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-self: flex-start;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    list-style: none;
    position: fixed;
    background-color: #ffffff99;
    
    margin: 0;
    padding-top: 120px;

}
.menu a{
    font-family: Roboto, sans-serif;
    display: inline-flex;
    text-transform: uppercase;
    padding: 30px;
    font-weight: 900;
    font-size: 32px;
    
}
.lang{
    line-height: 98px; /* Важная хрень, коротая заставила меня страдать */
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    width: 98px;
    height: 98px;
}
.wrapper{
    background-image: linear-gradient(90deg, white 70px, yellow 70px);
}

.burger:hover~.menu{
    display: flex;
}
.burger:hover{
    background-image: url(./../icons/x.svg);}

.burger,
.logo,
.lang{position: relative;
z-index: 999;}
.active{

}
.footer {
    background-color:rgb(150, 150, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }
    .footer-menu{
    display: none;
    }
    .footer-menu a{
    padding: 10px;
    }
    .footer-social{
    display: flex;
    }
    .footer-social a{
    padding: 3px;
    }


.liF{margin: 10px 15px;}
@media screen and (min-width: 768px){
    .logo{margin-right: auto;
        margin-left: 56px;}
    .footer-menu{
            display: flex;
        }

}
@media screen and (min-width: 1200px){
    .burger{display: none;}
    .wrapper{
        background-image: linear-gradient(90deg, white 245px, yellow 70px);
    }
    .menu{
    position: static;
    background-color: transparent;
    display: flex;
    list-style: none;
    color:  black;
    margin-right: 60px;
    width: auto;
    height: auto;
    flex-direction: row;
    padding-top: 0;
}
    .menu a{
        padding: 30px;
        font-family: Monserrat, sans-serif;
        display: flex;
        flex-direction: row;
        text-transform: none;
        font-weight: 600;
        font-size: 20px;
    }

    .active{
        color: red;
    }
}
